<div class="top">
<div class="parallax-container">
  <div class="parallax"><%= image_tag 'https://images.unsplash.com/photo-1510070112810-d4e9a46d9e91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80' %>
  </div>
</div>
<div class="section white">
  <div class="row container">
    <h3 class="header top__header">オンラインツールを使って<span class="top__header__span ">勉強仲間</span>を募集しよう！</h3>
    <p class="grey-text text-darken-3 lighten-3">Live studyは「一人で勉強していまいち捗らない」「息抜きに誰かと少し話したい」「新しい勉強仲間が欲しい」など用途に合わせて勉強部屋を開催できるサービスです。</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax">      <%= image_tag 'https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80' %>
  </div>
</div>


<div class="row top__middle">

      <div class="col s12 m6 l4 top__middle__content">
        <div class="content__height">
        <i class="large material-icons">people</i>
        </div>
        <div class="content__bottom">
           <p class="content__bottom__title">
            部屋を作る
          </p>
          <p class="content__bottom__int">
            オンラインツール、勉強のカテゴリーなどを選択して部屋をつくれます。

          </p>
        </div>
      </div>
      <div class="col s12 m6 l4 top__middle__content">
        <div class="content__height">
        <i class="large material-icons">search</i>
        </div>
        <div class="content__bottom">
         <p class="content__bottom__title">
            部屋を探す
          </p>
          <p class="content__bottom__int">
            開催中の部屋の中から、絞り込み検索、参加人数の多い順などで並べ替え検索もできます。
          </p>
        </div>
      </div>
      <div class="col s12 m6 l4 top__middle__content">
        <div class="content__height">
        <i class="large material-icons">input</i>
        </div>
        <div class="content__bottom">
          <p class="content__bottom__title">
            部屋に参加する
          </p>
          <p class="content__bottom__int">
            興味のある部屋に参加することができます。過去に参加した部屋はマイページから閲覧できます。
          </p>
        </div>
      </div>

</div>
 </div>         
<footer class="page-footer deep-purple accent-2">
  <div class="footer-copyright">
    <div class="container">
      © 2020 Copyright Text
    </div>
  </div>
</footer>