<% visitor = notification.visitor%>
<% visited = notification.visited%>

<div class ="row follow__cotent">
  <div class=" col s12">
    <div class="card horizontal ">
      <%= link_to user_path(visitor) do %>
        <div class="card-imag ">
          <%= image_tag visitor.image.url, size: 50 %>
        </div>
        <div class="card-stacked">
          <div class="follow__content">
            <div class="content__top">
              <h6 class ="content__top__name">
                <%= visitor.nickname%>さんから
              </h6>
              <% case notification.action %>
              <% when 'follow' then %>
              フォローされました
            <% end %>
          </div>
        </div>
        <div class="card-action">
          <%= time_ago_in_words(notification.created_at).upcase %>
        <% end %>
      </div>
    </div>
  </div>
</div>
