<% notifications = @notifications.where.not(visitor_id: current_user.id)%>
<% if notifications.exists?%>
  <%= render notifications%>
  <%= paginate @notifications%>
<% else %>
  <div class="card-panel">
    <span class="blue-text text-darken-2">
      <p>通知はありません</p>  
    </span>
  </div>
<%end%>