<div class ="container show">  
  <div class ="row">
    <div class="show__content col s12 m12 l12">
      <div class="card horizontal profile__card">
        <div class="card-image show__content__image">
          <%= image_tag user.image.url, class: "profile__pic"%>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <div class="content__top">
              <h6 class ="profile__name">
                <%= user.nickname%>
              </h6>
              <div class ="content__top__btn">
                <a class="waves-effect waves-light btn">フォロー</a>
                <a class="waves-effect waves-light btn content__top__message"><i class="material-icons center">email</i></a>
              </div>
            </div>  
            <p class="card__content__int">
              <%= user.introduce%>
            </p>
          </div>
          <div class="card-action">
            <a href="#">12フォロー</a>
            <a href="#">1223939フォロー</a>
          </div>
        </div>
      </div>
    </div>
</div> 
</div>  

<div class="container">
  <div class ="row">
     <h6 class ="blockquote ">
    <blockquote>
      過去に開催した部屋一覧  
    </blockquote>
    </h6> 
      <div class ="col s12 m6 l3">
    <div class="card col">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://cdn-ak.f.st-hatena.com/images/fotolife/s/sh_manami_yamazaki/20190416/20190416083315.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div>
  </div>  
      <div class ="col s12 m6 l3">
    <div class="card col">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://cdn-ak.f.st-hatena.com/images/fotolife/s/sh_manami_yamazaki/20190416/20190416083315.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div>
  </div>  
      <div class ="col s12 m6 l3">
    <div class="card col">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://cdn-ak.f.st-hatena.com/images/fotolife/s/sh_manami_yamazaki/20190416/20190416083315.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div>
  </div>  
  </div>
</div>    