<ul id="tabs-swipe-demo" class="tabs">
  <li class="tab col s3 followtab"><a class=" tab" href="#test-swipe-1">フォロー </a></li>
  <li class="tab col s3 followtab"><a class="active tab" href="#test-swipe-2">フォロワー</a></li>
</ul>
<%= render partial: "follow", locals: { follow__users: @follow__users, follower__users: @follower__users } %>