<div class=" navbar-fixed">
    <nav class="nav-wraper  deep-purple accent-2">
    <a href="#" class="brand-logo left">Live Study</a>
        <a href="#" class="sidenav-trigger right " data-target="mobile-links">
          <i class="material-icons">menu</i>
        </a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#" class="waves-effect">Contents1</a></li>
            <li><a href="#" class="waves-effect">Contents2</a></li>
            <li><a href="#" class="waves-effect">Contents3</a></li>
            <li><a href="#" class="waves-effect">Contents4</a></li>
          </ul>
    </nav>
  </div>

  <ul class="sidenav" id="mobile-links">

    <a href="#" class="sidenav-close " data-target="mobile-links">
      <i class="material-icons close-icon">close</i>
    </a>

    <div class="menu">
      <li><a href="#">Contents1</a></li>
      <li><a href="#">Contents2</a></li>
      <li><a href="#">Contents3</a></li>
      <li><a href="#">Contents4</a></li>
    </div>
  </ul>
  <div class ="container">

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">add</i>
  </a>

</div>
</div>