
//base-style
* {
  box-sizing: border-box;
  font-family: inherit;
}


.blockquote {
  font-weight: bold;
}

//header
.hide-on-med-and-down {
  margin-right: 20px;
}
.notification{
  position: relative;
}
.n-circle-a {
  position: absolute;
  color: #efa04c;
  top: 7px;
  right: 5px;
}
.n-circle-b {
  position: absolute;
  color: #efa04c;
  top: 7px;
  left: 10px;
}
.new__user {
  display: flex;
  align-items: center;
}
.header__btn {
  height: 100%;
  display: flex;
  align-items: center;
}

//studies-index
.study__logo {
  height: 60px;
  width: 120px;
}
.index__top{
  margin-top: 50px;
  max-width: 520px;
}
.index__main{
  height: 500px;
  width: 100%;
  margin-top: 70px;

  &__block {
    height: 280px;
    .card-reveal {
      padding: 10px !important;
      .reveal__title {
        font-size: 15px !important;
        font-weight: bold !important;
      }
      .reveal-item {
        line-height: 30px;
        display: flex;
        font-size: 10px;
        .reveal__path {
          display: flex;
        }
        .reveal__image {
          border-radius: 50%;
          margin-left: 5px;
          border: 1px solid ;
        }
        .item__status {
          background-color: #26a69a;
          color: white;
          border-radius: 10px;
          padding: 0 5px;
          margin-left: 10px;
        }
      }
    }
  }
  &__image {
    height: 150px;
  }
  &__card {
    padding: 5px !important;
  }
  &__title {
    font-size: 15px !important;
    font-weight: bold !important;
    height: 60px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    &__left{
      position: relative;
      bottom: 7px;
    }
  }
}
.pagination {
  background-color:#26a69a;
  width: 30%!important;
  border-radius: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-around
}
.gap {
  display: none;
}

//studies-show
.study__show {
  display: flex;
  justify-content: center;
  &__image {
    padding: 20px;
    display: flex;
    &__url {
      width: 50% !important;
      height: 300px;
    }
    &__left {
      width: 50%;
      padding: 0 20px;
      .show__title {
        font-size: 15px;
        font-weight: 600;
      }
      .show__introduce {
        font-size: 12px;
        margin-top: 5px;
      }
      .show__host {
        margin-top: 20px;
        &__image {
          height: 30px;
          width: 30px !important;
          border-radius: 50% !important;
          border: #26a69a 1px solid;
        }
        &__container {
          display: flex;
          height: 30px;
          font-size: 10px;
          .host__container {
            display: flex;
            align-items: center;
            margin-left: 5px;
            .name {
              margin-left: 5px;
            }
          }
          .host__name {
            display: flex;
            align-items: center;
          }
        }
        &__name {
          display: flex;
          align-items: center;
          color: white;
          padding: 5px;
          border-radius: 2px;
        }
        &__btn {
          display: block;
          margin: 8px 0;
        }
      }
    }
  }
  &__content {
    max-width: 700px;
    margin-top: 70px;
  }
  .join {
    display: flex;
  }
  .join__user {
    display: flex;
    margin-right: 15px;
    &__image {
      border-radius: 50%;
      border: #26a69a 1px solid;
    }
    &__name {
      line-height: 30px;
      font-size: 12px;
      margin-left: 5px;
    }
  }
  .join__room {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    height: 70px;
    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 50px;
    }
  }
  .end_at__title {
    font-weight: bold;
  }
  .comment__validate {
    font-size: 12px;
    color: #26a69a;
  }
  .comments {
    margin: 20px 0;
    height: 150px;
    overflow: scroll;
    border:#BBBB 1px solid;
    border-radius: 5px;
    padding: 10px;
  }
}

//study-new
.new__content {
width: 700px;
margin-bottom: 100px;
&__top {
  height: 250px !important;
}
&__image {
  width: 40%;
}
&__right {
  width: 60%;
  &__name {
    margin-bottom: 30px !important;
  }
}
&__field {
  display: none;
}
&__ul {
  padding-top: 30px !important;
}
&__li {
  border-bottom: none!important;
  padding: 15px 20px 15px 72px !important;
}
.fa-camera {
  font-size: 30px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: dashed;
  border-color: rgb(204, 204, 204);
  &:hover {
    cursor: pointer;
  }
}
}
.end__at {
  width: 15% !important;
}
//notification
.Notification {
  color: white;
}

//error
.studies__error {
  font-weight: bold;
}