* {
  box-sizing: border-box;
  font-family: 'Raleway', 'Noto Sans JP', sans-serif;
}

$mr-content:30px;
.brand-logo{
  font-weight: bold;
}
.close-icon {
  font-size: 2.5rem;
  right: 1rem;
  margin: 1rem auto;
  color: rgb(66, 66, 66);
  padding-left: 17rem;
}
.top__content{
  margin-top: $mr-content;
  max-width: 520px;
}
.main__content{
  height: 500px;
  width: 100%;
  margin-top: $mr-content;
}