//users-show
.user__show {
  display: flex;
  justify-content: center;

  &__content {
  max-width: 700px;
  margin-top: 70px;

    &__card {
      width: 500px;
    }
    &__image {
      width: 120px;
    }
    &__int {
      margin-top: 10px !important;
    }
 }
  .content__top {
    display: flex;

    &__name {
      font-weight: bold;
      width: 180px;
    }
    &__btn {
      display: flex;
      &__follow {
        font-size: 10px;
      }
    }
    &__message {
      margin-left: 10px;
    }
  }
}

//follow
.follow {
  margin-top: 50px;
  &__cotent {
    width: 450px;
  }
  &__pic {
    height: 100px;
    width: 100px;
  }
}


