//users-show
.slack_url {
font-size: 0.8rem;
color: gray;
}
.user__show {
  display: flex;
  justify-content: center;

  &__content {
  max-width: 700px;
  margin-top: 70px;

    &__card {
      width: 500px;
    }
    &__image {
      width: 120px;
    }
    &__int {
      margin-top: 10px !important;
    }
 }
  .content__top {
    display: flex;

    &__name {
      font-weight: bold;
      width: 180px;
    }
    &__btn {
      display: flex;
      &__follow {
        font-size: 10px;
      }
    }
    &__message {
      margin-left: 10px;
    }
  }
}

//follow
.tab {
  color: #26a69a!important;
}
.followtab {
  width: 50% !important;
}
.tabs {
  max-width: 600px!important;
}
.indicator {
  background-color: #26a69a!important;
}
a.active:focus {
  background-color: rgba(62, 238, 200, 0.2)!important;
}
.follow {
  max-width: 600px;
  margin:0 auto !important;
  .follow__item {
    display: flex;
  }
  &__avatar {
    display: flex;
    width: 200px;
    margin-right: 100px;
    &__pic {
      height: 100px;
      width: 100px;
    }
  }
}

//edit
.edit__btn{
  margin-left: 20px;
}

//notice
.notice__content {
  max-width: 600px !important;
}