//studies-index
* {
  box-sizing: border-box;
  font-family: inherit;
}

$mr-content:50px;
.brand-logo {
  font-weight: bold;
}
.blockquote {
  font-weight: bold;
}
.close-icon {
  font-size: 2.5rem;
  right: 1rem;
  margin: 1rem auto;
  color: rgb(66, 66, 66);
  padding-left: 17rem;
}
.top__content{
  margin-top: $mr-content;
  max-width: 520px;
}
.main__content{
  height: 500px;
  width: 100%;
  margin-top: 70px;
}
.study__logo {
  height: 60px;
  width: 120px;
}

.content__row {
  display: flex;
  justify-content: space-between;
  &__left {
    position: relative;
    bottom: 7px;
  }
}

.index__image {
  height: 200px;
}


//studies-show
.show {
  display: flex;
  justify-content: center;
  &__content {
  max-width: 700px;
  margin-top: 70px;
  }
}

//profiles-show
.show__content__image {
  width: 120px;
}
.profile__name {
  font-weight: bold;
}
.profile__card {
  width: 500px;
}
.content__top {
  display: flex;
  &__btn {
    margin-left: 100px;
    display: flex;
  }
  &__message {
    margin-left: 10px;
  }
}
.card__content__int {
  margin-top: 10px !important;
}

//messages-show
.message__content {
  height: 80vh;
  width: 100%;
}

//notification
.Notification {
  color: white;
}